<p>Hello {{username}},</p>

<p>Congratulations!!<br><br>You Have been registered for a month long Honeymint contest. So, grab a chance to win the amazing prize, You just need to tell your friends and relative about the contest and tell them to join the contest using your referral code - {{referral}}. Tell your friends about the contest by post in facebook and tweeting in tweeter and increase your winning chances by just clicking in the following links:
<br>
<br>
Link to tweet: <a href="https://twitter.com/intent/tweet?text=Click%20on%20the%20below%20link%20to%20be%20a%20part%20of%20honeymint%20contest%20to%20win%20exiting%20prizes[Quick%20Tip]%20http%3A%2F%2F127.0.0.1%3A5000%2Fsignup%2F{{referral}}&original_referer=https://127.0.0.1/"><strong>click here to tweet</strong></a>
<br>
Link to facebook post: <a href=www.facebook.com><strong>click here to post in facebook</strong></a>

<p>Best,</p>
<p>Team Honeymint</p>
